# This will be the data structure that we are working with.

In [1]:
students = [
    {
        "id": "100001",
        "student": "Ada Lovelace",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 91, 82, 71],
        "pets": [{"species": "horse", "age": 8}],
    },
    {
        "id": "100002",
        "student": "Thomas Bayes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [75, 73, 86, 100],
        "pets": [],
    },
    {
        "id": "100003",
        "student": "Marie Curie",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 89, 69, 65],
        "pets": [{"species": "cat", "age": 0}],
    },
    {
        "id": "100004",
        "student": "Grace Hopper",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [73, 66, 83, 92],
        "pets": [{"species": "dog", "age": 4}, {"species": "cat", "age": 4}],
    },
    {
        "id": "100005",
        "student": "Alan Turing",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [78, 98, 85, 65],
        "pets": [
            {"species": "horse", "age": 6},
            {"species": "horse", "age": 7},
            {"species": "dog", "age": 5},
        ],
    },
    {
        "id": "100006",
        "student": "Rosalind Franklin",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [76, 70, 96, 81],
        "pets": [],
    },
    {
        "id": "100007",
        "student": "Elizabeth Blackwell",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [69, 94, 89, 86],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100008",
        "student": "Rene Descartes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [87, 79, 90, 99],
        "pets": [{"species": "cat", "age": 10}, {"species": "cat", "age": 8}],
    },
    {
        "id": "100009",
        "student": "Ahmed Zewail",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [74, 99, 93, 89],
        "pets": [{"species": "cat", "age": 0}, {"species": "cat", "age": 0}],
    },
    {
        "id": "100010",
        "student": "Chien-Shiung Wu",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [82, 92, 91, 65],
        "pets": [{"species": "cat", "age": 8}],
    },
    {
        "id": "100011",
        "student": "William Sanford Nye",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [70, 92, 65, 99],
        "pets": [{"species": "cat", "age": 8}, {"species": "cat", "age": 5}],
    },
    {
        "id": "100012",
        "student": "Carl Sagan",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [100, 86, 91, 87],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100013",
        "student": "Jane Goodall",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [80, 70, 68, 98],
        "pets": [{"species": "horse", "age": 4}],
    },
    {
        "id": "100014",
        "student": "Richard Feynman",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [73, 99, 86, 98],
        "pets": [{"species": "dog", "age": 6}],
    },
]

# 20 Python Data Structure Manipulation Exercises

### The following questions reference the students data structure above. Write the python code to answer the following questions:

1. How many students are there?

In [2]:
num_students = len(students)
num_students

14

###### 2. How many students prefer light coffee? For each type of coffee roast?

In [3]:
student_coffee_prefs = [student["coffee_preference"] for student in students]
student_coffee_prefs

['light',
 'medium',
 'light',
 'dark',
 'dark',
 'dark',
 'dark',
 'medium',
 'medium',
 'medium',
 'dark',
 'medium',
 'light',
 'medium']

In [4]:
light_coffee_prefs = [pref for pref in student_coffee_prefs if pref == "light"]
light_coffee_prefs

['light', 'light', 'light']

In [5]:
num_light_prefs = len(light_coffee_prefs)
num_light_prefs

3

In [6]:
med_coffee_prefs = [pref for pref in student_coffee_prefs if pref == "medium"]
med_coffee_prefs

['medium', 'medium', 'medium', 'medium', 'medium', 'medium']

In [7]:
num_med_prefs = len(med_coffee_prefs)
num_med_prefs

6

In [8]:
dark_coffee_prefs = [pref for pref in student_coffee_prefs if pref == "dark"]
dark_coffee_prefs

['dark', 'dark', 'dark', 'dark', 'dark']

In [9]:
num_dark_prefs = len(dark_coffee_prefs)
num_dark_prefs

5

###### 3. How many types of each pet are there?

In [10]:
student_pets = [student["pets"] for student in students]
student_pets

[[{'species': 'horse', 'age': 8}],
 [],
 [{'species': 'cat', 'age': 0}],
 [{'species': 'dog', 'age': 4}, {'species': 'cat', 'age': 4}],
 [{'species': 'horse', 'age': 6},
  {'species': 'horse', 'age': 7},
  {'species': 'dog', 'age': 5}],
 [],
 [{'species': 'cat', 'age': 10}],
 [{'species': 'cat', 'age': 10}, {'species': 'cat', 'age': 8}],
 [{'species': 'cat', 'age': 0}, {'species': 'cat', 'age': 0}],
 [{'species': 'cat', 'age': 8}],
 [{'species': 'cat', 'age': 8}, {'species': 'cat', 'age': 5}],
 [{'species': 'cat', 'age': 10}],
 [{'species': 'horse', 'age': 4}],
 [{'species': 'dog', 'age': 6}]]

In [11]:
pets = sum(student_pets, [])
pets

[{'species': 'horse', 'age': 8},
 {'species': 'cat', 'age': 0},
 {'species': 'dog', 'age': 4},
 {'species': 'cat', 'age': 4},
 {'species': 'horse', 'age': 6},
 {'species': 'horse', 'age': 7},
 {'species': 'dog', 'age': 5},
 {'species': 'cat', 'age': 10},
 {'species': 'cat', 'age': 10},
 {'species': 'cat', 'age': 8},
 {'species': 'cat', 'age': 0},
 {'species': 'cat', 'age': 0},
 {'species': 'cat', 'age': 8},
 {'species': 'cat', 'age': 8},
 {'species': 'cat', 'age': 5},
 {'species': 'cat', 'age': 10},
 {'species': 'horse', 'age': 4},
 {'species': 'dog', 'age': 6}]

In [12]:
species_of_pets = [pet["species"] for pet in pets]
species_of_pets

['horse',
 'cat',
 'dog',
 'cat',
 'horse',
 'horse',
 'dog',
 'cat',
 'cat',
 'cat',
 'cat',
 'cat',
 'cat',
 'cat',
 'cat',
 'cat',
 'horse',
 'dog']

In [13]:
types_of_species = set(species_of_pets)
types_of_species

{'cat', 'dog', 'horse'}

###### 4. How many grades does each student have? Do they all have the same number of grades?

In [14]:
num_grades_for_each_student = [len(student["grades"]) for student in students]
num_grades_for_each_student

[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4]

In [15]:
def all_same_in_list(lst):
    return lst[1:] == lst[:-1]
all_same_in_list(num_grades_for_each_student)

True

###### 5. What is each student's grade average?

In [16]:
student_grades = [student["grades"] for student in students]
student_grades

[[70, 91, 82, 71],
 [75, 73, 86, 100],
 [70, 89, 69, 65],
 [73, 66, 83, 92],
 [78, 98, 85, 65],
 [76, 70, 96, 81],
 [69, 94, 89, 86],
 [87, 79, 90, 99],
 [74, 99, 93, 89],
 [82, 92, 91, 65],
 [70, 92, 65, 99],
 [100, 86, 91, 87],
 [80, 70, 68, 98],
 [73, 99, 86, 98]]

In [17]:
avg_grades_per_student = [(sum(grades) / len(grades)) for grades in student_grades]
avg_grades_per_student

[78.5,
 83.5,
 73.25,
 78.5,
 81.5,
 80.75,
 84.5,
 88.75,
 88.75,
 82.5,
 81.5,
 91.0,
 79.0,
 89.0]

###### 6. How many pets does each student have?

In [18]:
student_pets

[[{'species': 'horse', 'age': 8}],
 [],
 [{'species': 'cat', 'age': 0}],
 [{'species': 'dog', 'age': 4}, {'species': 'cat', 'age': 4}],
 [{'species': 'horse', 'age': 6},
  {'species': 'horse', 'age': 7},
  {'species': 'dog', 'age': 5}],
 [],
 [{'species': 'cat', 'age': 10}],
 [{'species': 'cat', 'age': 10}, {'species': 'cat', 'age': 8}],
 [{'species': 'cat', 'age': 0}, {'species': 'cat', 'age': 0}],
 [{'species': 'cat', 'age': 8}],
 [{'species': 'cat', 'age': 8}, {'species': 'cat', 'age': 5}],
 [{'species': 'cat', 'age': 10}],
 [{'species': 'horse', 'age': 4}],
 [{'species': 'dog', 'age': 6}]]

In [19]:
pets_per_student = [len(pets) for pets in student_pets]
pets_per_student

[1, 0, 1, 2, 3, 0, 1, 2, 2, 1, 2, 1, 1, 1]

###### 7. How many students are in web development? data science?

In [20]:
web_dev_students = [student["course"] for student in students if student["course"] == "web development"]
web_dev_students

['web development',
 'web development',
 'web development',
 'web development',
 'web development',
 'web development',
 'web development']

In [21]:
num_web_dev_students = len(web_dev_students)
num_web_dev_students

7

###### 8. What is the average number of pets for students in web development?

In [22]:
web_dev_students_pets = [student["pets"] for student in students if student["course"] == "web development"]
web_dev_students_pets

[[{'species': 'horse', 'age': 8}],
 [{'species': 'cat', 'age': 0}],
 [{'species': 'horse', 'age': 6},
  {'species': 'horse', 'age': 7},
  {'species': 'dog', 'age': 5}],
 [{'species': 'cat', 'age': 10}],
 [{'species': 'cat', 'age': 8}],
 [{'species': 'horse', 'age': 4}],
 [{'species': 'dog', 'age': 6}]]

In [23]:
num_pets_in_web_dev = [len(pets) for pets in web_dev_students_pets]
num_pets_in_web_dev

[1, 1, 3, 1, 1, 1, 1]

In [24]:
avg_pets_in_web_dev = sum(num_pets_in_web_dev) / len(num_pets_in_web_dev)
avg_pets_in_web_dev

1.2857142857142858

###### 9. What is the average pet age for students in data science?

In [25]:
data_sci_students_pets = [student["pets"] for student in students if student["course"] == "data science"]
data_sci_students_pets

[[],
 [{'species': 'dog', 'age': 4}, {'species': 'cat', 'age': 4}],
 [],
 [{'species': 'cat', 'age': 10}, {'species': 'cat', 'age': 8}],
 [{'species': 'cat', 'age': 0}, {'species': 'cat', 'age': 0}],
 [{'species': 'cat', 'age': 8}, {'species': 'cat', 'age': 5}],
 [{'species': 'cat', 'age': 10}]]

In [26]:
data_sci_pets = sum(data_sci_students_pets, [])
data_sci_pets

[{'species': 'dog', 'age': 4},
 {'species': 'cat', 'age': 4},
 {'species': 'cat', 'age': 10},
 {'species': 'cat', 'age': 8},
 {'species': 'cat', 'age': 0},
 {'species': 'cat', 'age': 0},
 {'species': 'cat', 'age': 8},
 {'species': 'cat', 'age': 5},
 {'species': 'cat', 'age': 10}]

In [27]:
data_sci_pets_ages = [pet["age"] for pet in data_sci_pets]

In [28]:
avg_age_data_sci_pets = sum(data_sci_pets_ages) / len(data_sci_pets_ages)
avg_age_data_sci_pets

5.444444444444445

###### 10. What is most frequent coffee preference for data science students?

In [30]:
data_sci_coffee_prefs = [student["coffee_preference"] for student in students if student["course"] == "data science"]
data_sci_coffee_prefs

['medium', 'dark', 'dark', 'medium', 'medium', 'dark', 'medium']

In [34]:
mode_data_sci_coffee_pref = max(set(data_sci_coffee_prefs), key=data_sci_coffee_prefs.count)
mode_data_sci_coffee_pref

'medium'