# Panda Series Exercises

In [1]:
import pandas as pd

## Use pandas to create a Series from the following data:
["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

### Name the variable that holds the series fruits.

In [2]:
fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

### Run .describe() on the series to see what describe returns for a series of strings.

In [3]:
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

### Run the code necessary to produce only the unique fruit names.

In [4]:
fruits.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

### Determine how many times each value occurs in the series.

In [5]:
fruits.value_counts()

kiwi                4
mango               2
strawberry          1
blueberry           1
tomato              1
gooseberry          1
papaya              1
gala apple          1
blackberry          1
honeycrisp apple    1
honeydew            1
watermelon          1
pineapple           1
dtype: int64

### Determine the most frequently occurring fruit name from the series.

In [6]:
fruits.max()

'watermelon'

While this last call did not do what I was expecting, it does provide an useful tool. We can see that when .max() is ran on a series of type object, it will return the last alphabetical string.

In [7]:
fruits.value_counts().nlargest(1)

kiwi    4
dtype: int64

### Determine the least frequently occurring fruit name from the series.

In [8]:
fruits.value_counts().nsmallest(keep='all')

strawberry          1
blueberry           1
tomato              1
gooseberry          1
papaya              1
gala apple          1
blackberry          1
honeycrisp apple    1
honeydew            1
watermelon          1
pineapple           1
dtype: int64

### Write the code to get the longest string from the fruits series.

In [9]:
fruits[fruits.str.len() == fruits.str.len().max()]

5    honeycrisp apple
dtype: object

### Find the fruit(s) with 5 or more letters in the name.

In [10]:
fruits[fruits.str.len() > 5]

2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

### Capitalize all the fruit strings in the series.

In [14]:
fruits.str.capitalize()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

### Count the letter "a" in all the fruits (use string vectorization)

In [17]:
fruits.str.count('a')

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

### Output the number of vowels in each and every fruit.

In [22]:
fruits.str.count(r'[aeiou]')

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

### Use the .apply method and a lambda function to find the fruit(s) containing two or more "o" letters in the name.

In [28]:
fruits[fruits.apply(lambda fruit: fruit.count('o') >= 2)]

6         tomato
15    gooseberry
dtype: object

### Write the code to get only the fruits containing "berry" in the name

In [35]:
fruits[fruits.str.contains(pat='berry')]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

### Write the code to get only the fruits containing "apple" in the name

In [37]:
fruits[fruits.str.contains(pat='apple')]

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object