# Panda Series Exercises

In [2]:
import pandas as pd

## Use pandas to create a Series from the following data:
["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

### Name the variable that holds the series fruits.

In [5]:
fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

### Run .describe() on the series to see what describe returns for a series of strings.

In [6]:
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

### Run the code necessary to produce only the unique fruit names.

In [8]:
fruits.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

### Determine how many times each value occurs in the series.

In [9]:
fruits.value_counts()

kiwi                4
mango               2
blueberry           1
blackberry          1
pineapple           1
tomato              1
honeydew            1
papaya              1
honeycrisp apple    1
gala apple          1
watermelon          1
strawberry          1
gooseberry          1
dtype: int64

### Determine the most frequently occurring fruit name from the series.

In [10]:
fruits.max()

'watermelon'

While this last call did not do what I was expecting, it does provide an useful tool. We can see that when .max() is ran on a series of type object, it will return the last alphabetical string.

In [18]:
fruits.value_counts().nlargest(1)

kiwi    4
dtype: int64

### Determine the least frequently occurring fruit name from the series.

In [20]:
fruits.value_counts().nsmallest(keep='all')

blueberry           1
blackberry          1
pineapple           1
tomato              1
honeydew            1
papaya              1
honeycrisp apple    1
gala apple          1
watermelon          1
strawberry          1
gooseberry          1
dtype: int64

### Write the code to get the longest string from the fruits series.

In [29]:
fruits[fruits.str.len() == fruits.str.len().max()]

5    honeycrisp apple
dtype: object

In [30]:
fruits[fruits.str.len() > 5]

2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [33]:
fruits.apply(str.capitalize)

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object